@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");



/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* Global Styles */
body {
  font-family: 'Arial', sans-serif;
  background-color: #000;
  color: #fff;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 40px;
}

a {
  color: #fff;
  text-decoration: none;
}

/* Header Styles */
header {
  padding: 20px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
  z-index: 100;
  background-size: cover;
  background-position: center;
  height: 100px; /* Adjust the height as needed */
  right: 0;
  
}


nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

nav ul li {
  margin-left: 20px;
}


/* Header Styles home-icon */
header {
  position: fixed;
  height: 40px;
  
}

.home-icon {
position: fixed;
top: 42px;
left: 20px;
display: flex;
align-items: center;
text-decoration: none;
color: #fff;
transition: color 0.3s ease;
z-index: 100;
}

.home-icon i {
font-size: 35px;
margin-right: 5px;
}

.home-icon:hover {
color: #00ffcc;
}

/*Header Navigation Styles */
nav ul li a {
color: #fff;
text-decoration: none;
transition: color 0.3s ease;
}

nav ul li a:hover {
color: #00ffcc;
}

/* Hero Section Styles */

#hero {
  background-image: url("images/BlackCyberpunk2.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
  }
  
  .hero-content {
  text-align: center;
  }
  
  .hero-content h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  color: #00ffcc;
  text-shadow: 2px 2px 10px #00ffcc;
  }
  
  .hero-content p {
  font-size: 1.5rem;
  color: #fff;
  }
  
  /* About Section Styles */
  /* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global Styles */
body {
  font-family: 'Arial', sans-serif;
  background-color: #000;
  color: #fff;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 40px;
}



/* About Section Styles */
#about {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 200px 0;
  background-color: #000
}

.profile-info {
  width: 550px;
  max-width: 100%;
  padding: 0 10px;

}

.about-container{
  width: 1280px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;

}
#about h2 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 40px;
  color: #00ffcc;
  text-shadow: 2px 2px 10px #00ffcc;
  text-transform: capitalize;
}

#about p {
  font-size: 1.2rem;
  line-height: 1.8;
  color: #fff;
}

.profile-picture img {
  width: 600px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  max-width: 100%;
  border-radius: 5px;
  margin-right: 20px;
}

@media screen and (max-width: 1180px) {
  #about{
    width: 100%;
    height: auto;
    padding: 70px 0px;
  }
}

@media screen and (max-width: 650px) {
  .profile-picture img {
    margin-bottom: 35px;
  }
  .profile-info h2{
    font-size: 25px;
  }
}

/* About page: Timeline section styles */
.timeline-header h2{
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 40px;
  color: #00ffcc;
  text-shadow: 2px 2px 10px #00ffcc;
  text-transform: capitalize;
}

.timeline-header h3{
  text-align: center;
  font-weight: normal;
  font-size: 1.5rem;

}

.timeline{
  position: relative;
  max-width: 1200px;
  margin: 100px auto;
}

.timeline-container{
  padding: 10px 50px;
  position: relative;
  width: 50%;
  animation: movedown 1s linear forwards;
  opacity: 0;
}
/* animations for timeline-container */
@keyframes movedown {
  0%{
    opacity: 1;
    transform: translateY(-30px);
  }
  100%{
    opacity: 1;
    transform: translateY(0px);
  }
}

.timeline-container:nth-child(1){
  animation-delay: 0s;
}
.timeline-container:nth-child(2){
  animation-delay: 1s;
}
.timeline-container:nth-child(3){
  animation-delay: 2s;
}
.timeline-container:nth-child(4){
  animation-delay: 3s;
}
.timeline-container:nth-child(5){
  animation-delay: 4s;
}
.timeline-container:nth-child(6){
  animation-delay: 5s;
}
.timeline-container:nth-child(7){
  animation-delay: 6s;
}
.timeline-container:nth-child(8){
  animation-delay: 7s;
}
.timeline-container:nth-child(9){
  animation-delay: 8s;
}
.timeline-container:nth-child(10){
  animation-delay: 9s;
}

.timeline-body{
  padding: 20px 30px;
  background: #043f4d;
  position: relative;
  border-radius: 6px;
  font-size: 15px;
}

.left-container{
  left: 0;
}

.right-container{
  left: 50%;

}

.timeline-container img{
  position: absolute;
  width: 40px;
  border-radius: 50%;
  right: -20px;
  top: 32px;
  z-index: 10;
  
}

.right-container img{
  left: -20px;
}

.timeline::after{
  content: '';
  position: absolute;
  width: 6px;
  height: 100%;
  background: #fff;
  top: 0;
  left: 50%;
  margin-left: -3px;
  z-index: -1;
  animation: moveline 6s linear forwards;
}

@keyframes moveline {
  0%{
    height: 0;
  }
  100%{
    height: 100%;
  }
  
}

.timeline-body h2{
  font-weight: 600;
}

.timeline-body small{
  display: inline-block;
  margin-bottom: 15px;
}

.left-container-arrow{
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid #043f4d;
  right: -15px;
}

.right-container-arrow{
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid #043f4d;
  left: -15px;
}

@media screen and (max-width: 600px) {
  .timeline{
    margin: 50px auto;

  }
  .timeline::after{
    left: 31px;
  }
  .timeline-container{
    width: 100%;
    padding-left: 80px;
    padding-right: 25px;
  }
  .timeline-body{
    font-size: 13px;

  }
  .timeline-body small{
    margin-bottom: 10px;
  }
  .right-container{
    left: 0;
  }
  .left-container img, .right-container img{
    left: 10px;
  }
  .left-container-arrow, .right-container-arrow{
    border-right: 15px solid #043f4d;
    border-left: 0;
    left: -15px;
  }

}

/* JavaScript Animations */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Apply animations to specific elements */
#about {
  animation: fadeIn 1s ease-in-out;
  animation-fill-mode: both;
}

  
  /* Portfolio Section Styles */
  .portfolio-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-gap: 1rem;
    padding: 1rem 80px;
    font-size: 1.2rem;
  }
  
  #portfolio {
  background-color:#000;
  padding: 150px 0;
  }
  
  #portfolio h2 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 80px;
  color: #00ffcc;
  text-shadow: 2px 2px 10px #00ffcc;
  }
  
  .project {
  border: 1px solid #ccc; /* Add border */
  background-color: #252a2a;
  border-radius: 8px;
  padding: 50px; /* Add padding */
  margin-bottom: 20px; /* Add margin between projects */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 600px;
  transition: transform 0.3s ease;
}

.project:hover{
  transform: translateY(-10px);
}
  
  .project img {
  width: 100%;
  max-width: 300px;
  height: auto;
  object-fit: contain;
  border-radius: 10px;
  margin-bottom: 10px;
  transition: box-shadow 0.3s ease; /* Add transition for hover effect */

  }

  .project img:hover {
    box-shadow: 0 0 20px #00ffcc; /* Add glow effect on hover */
  }
  
  .project h3 {
  font-size: 1.5rem;
  color: #fff;
  }
  
  .project p {
  font-size: 1.2rem;
  color: #ccc;
  text-align: center; 
  margin-top: 60px; 
  margin-left: 1px;
  display: block;
  }

  .project-footer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: right;
    grid-gap: 1.5rem;
    padding: 1rem 80px;
  }

  .project-icon{
    width: 90px;
    height: 90px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
   
  
  }
  
  /* Contact Section Styles */
  #contact {
  
  padding: 80px 0;
  }
  
  #contact h2 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 70px;
  color: #00ffcc;
  text-shadow: 2px 2px 10px #00ffcc;
  }
  
  #contact p {
  font-size: 1.2rem;
  line-height: 1.8;
  color: #fff;
  text-align: center;
  margin-bottom: 40px;
  }
  
  form {
  display: flex;
  flex-direction: column;
  }
  
  form input,
  form textarea {
  margin-bottom: 20px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  }
  
  form textarea {
  height: 120px;
  }
  
  form button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #00ffcc;
  color: #000;
  font-size: 1rem;
  cursor: pointer;
  }

  /* Contact Section Styles */
#contact {

padding: 100px 0;
}

#contact h2 {
font-size: 2.5rem;
text-align: center;
margin-bottom: 40px;
color: #00ffcc;
text-shadow: 2px 2px 10px #00ffcc;
}

#contact p {
font-size: 1.2rem;
line-height: 1.8;
color: #fff;
}

.social-icons {
display: flex;
justify-content: center;
align-items: center;
margin-top: 20px;
}

.social-icons a {
display: inline-block;
width: 40px;
height: 40px;
background-color: #00ffcc;
border-radius: 50%;
margin: 0 10px;
text-align: center;
line-height: 40px;
color: #000;
transition: background-color 0.3s ease;
}

.social-icons a:hover {
background-color: #00cc99;
}

.social-icons i {
font-size: 20px;
}

/*other contact style*/
/* Contact Section Styles */
#contact {
  
  padding: 80px 0;
}

#contact h2 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 40px;
  color: #00ffcc;
  text-shadow: 2px 2px 10px #00ffcc;
}

#contact p {
  font-size: 1.2rem;
  line-height: 1.8;
  color: #fff;
}


/* Footer Styles */
  footer {
    background-color: #1b1a1b;
    padding: 20px;
    text-align: center;
  }
  
  footer .container {
    max-width: 960px;
    margin: 0 auto;
  }
  
  footer p {
    font-size: 14px;
    color: #fff;
    margin-bottom: 10px;
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .social-icons a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #00ffcc;
    border-radius: 50%;
    margin: 0 10px;
    text-align: center;
    line-height: 40px;
    color: #000;
    transition: background-color 0.3s ease;
  }
  
  .social-icons a:hover {
    background-color: #00cc99;
  }
  
  .social-icons i {
    font-size: 20px;
  }
  
/* JavaScript Animations */
@keyframes fadeIn {
  0% {
  opacity: 0;
  transform: translateY(20px);
  }
  100% {
  opacity: 1;
  transform: translateY(0);
  }
  }
  
  @keyframes slideIn {
  0% {
  opacity: 0;
  transform: translateX(-20px);
  }
  100% {
  opacity: 1;
  transform: translateX(0);
  }
  }
  
/* Apply animations to specific elements */
  .hero-content h1 {
  animation: fadeIn 1s ease-in-out;
  }
  
  .hero-content p {
  animation: slideIn 1s ease-in-out;
  }
  
  .project {
  animation: fadeIn 1s ease-in-out;
  animation-fill-mode: both;
  }
  
  form {
  animation: slideIn 1s ease-in-out;
  animation-fill-mode: both;
  }


/* button styles */
button[type="submit"] {
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

button[type="submit"]:hover {
  background-color: #333;
  color: #fff;
}


/*skills section portfolio page*/
#skills h2 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 40px;
  color: #00ffcc;
  text-shadow: 2px 2px 10px #00ffcc;
  }


.skills-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-gap: 1rem;
  padding: 1rem 80px;
  font-size: 1.2rem;
}

.skill-box{
  padding: 1rem;
  color: #ddd;
  cursor: pointer;
  border: 0px solid rgba(100, 100, 100, 1);
  border-radius: 25px;
  background: linear-gradient(
    50deg,
    rgba(255, 255, 255, 0.4) 12%,
    rgba(255, 255, 255, 0.1) 77%
  );
  background-blend-mode: darken;
  transform: translate(0px, 0px);
  transition: border 300ms ease-out, border-radius 300ms ease-out;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  
}

.skill-box:hover{
  border: 4px solid #00ffcc;
  border-radius: 25px;
}

.skill-box:hover > .skill-title:after, .skill-box:hover > .skill-title:before{
  width: 35px;
}

.skill-box:hover .img{
  transform: translateY(-10px);
}

.skill-title{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  
}

.skill-title:after{
  content: '';
  position: absolute;
  bottom: 0;
  right: 50%;
  width: 0;
  height: 4px;
  border-radius: 2px 0 0 2px;
  background-color: #00ffcc;
  transition: .5s;
}

.skill-title:before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 4px;
  border-radius: 0 2px 2px 0;
  background-color: #00ffcc;
  transition: .5s;
}

.img{
  width: 90px;
  height: 90px;
  position: relative;
  border-radius: 45px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .5s;
}

.img:after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 90px;
  background-color: rgba(100, 100, 100, 0.5);
  border-radius: 45px 0 0 45px;
}

.skill-title h3{
  color: #fff;
  margin-top: 0.5rem;
}


.skill-icon{
  width: 50px;
  z-index: 2;
}

@media screen and (max-width: 990px){
  .container{
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem 50px;
  }
}

@media screen and (max-width: 650px){
  .container{
    grid-template-columns: 1fr;
   
  }
}


/*Progress bar styles*/
.skill-bar {
  width: 100%;
  height: 10px;
  background:#00ffcc;
  display: block;
  position: relative;
  margin-top: 50px;
}

.skill-bar span {
  position: relative;
  /* border-top: 5px solid #00ffcc; */
  top: -30px;
  padding: 0;
  font-size: 18px;
  padding: 3px 0;
  font-weight: 500;
}

.skill-bar {
  position: relative;
}

.skill1 .skill-count1 {
  right: 0;
}

.skill1 {
  width: 95%;
}

.skill2 {
  width: 85%;
}

.skill2 .skill-count2 {
  right: 0;
}

.skill3{
 width: 70%;
}

.skill3 .skill-count3 {
  right: 0;
}

.skill4 .skill-count4 {
  right: 0;
}

.skill4 {
  width: 70%;
}

.skill5 .skill-count5 {
  right: 0;
}

.skill5 {
  width: 70%;
}

.skill6 .skill-count6 {
  right: 0;
}

.skill6 {
  width: 75%;
}

.skill7 .skill-count7 {
  right: 0;
}

.skill7 {
  width: 75%;
}

.skill8 .skill-count8 {
  right: 0;
}

.skill8 {
  width: 75%;
}

.skill9 .skill-count9 {
  right: 0;
}

.skill9 {
  width: 80%;
}


/* Blog page Styles */
.blog-header {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 40px;
  color: #00ffcc;
  text-shadow: 2px 2px 10px #00ffcc;
  text-transform: capitalize;
}

#blog h4{
  text-align: center;
  font-weight: normal;
  font-size: 1.5rem;
}

.blog-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 0 20px;
  overflow: hidden;
}
.post {
  background-color: #043f4d;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.post:hover {
  transform: translateY(-5px);
}

.post h2 {
  color: #fff;
  transition: color 0.3s ease;
}

.post:hover h2 {
  color: #00ffcc;
}

.post small {
  color: #888;
}
.post img {
  max-width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
  transition: transform 0.3s ease;
}

.post:hover img {
  box-shadow: 0 0 20px #00ffcc;
}

.post p {
  margin-top: 10px;
}
